* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app-item-container {
  padding: 7px;
  border-radius: 7px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 7px;
  width: 150px;
  height: 150px;
  list-style-type: none;
}
.app-logo {
  width: 80px;
}
.app-name {
  color: #1e293b;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}